@{
    ViewBag.Title = "Facturacion Productos";
}


@{
    ViewBag.Title = "Facturacion Productos";
}


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Facturacion Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>


<body>
    

    <div class="wrapper">

        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">

                <div class="app-brand">
                    <a href="~/Home">

                        <span class="brand-name">MENU</span>
                    </a>
                </div>


                <div class="sidebar-left" data-simplebar style="height:100%;">
                    <!-- sidebar menu -->
                    <ul class="nav sidebar-inner" id="sidebar-menu">
                        <li>
                            <a class="sidenav-item-link" href="~/Productos">
                                <i class="bi bi-cart4"></i>
                                <span class="nav-text">Productos</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Clientes">
                                <i class="bi bi-person-lines-fill"></i>
                                <span class="nav-text">Clientes</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/MetodoPagoes">
                                <i class="bi bi-cash-coin"></i>
                                <span class="nav-text">Metodos De Pago</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Vendedores">
                                <i class="bi bi-people-fill"></i>
                                <span class="nav-text">Vendedores</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Facturas">
                                <i class="bi bi-receipt"></i>
                                <span class="nav-text">Reporte Facturas</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Categorias">
                                <i class="bi bi-basket2-fill"></i>
                                <span class="nav-text">Categoria de Productos</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-footer">
                   
                    
                    <div class="navbar-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                    </div>
                </div>
           
            
        </aside>
       
    </div>



    






     





        <!-- Footer -->
        <footer class="footer mt-auto" id="pio">
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
<script src="~/Content/js/custom.js"></script>
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/plugins/simplebar/simplebar.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
<script src="~/Content/plugins/apexcharts/apexcharts.js"></script>
<script src="~/Content/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
<script src="~/Content/plugins/jvectormap/jquery-jvectormap-us-aea.js"></script>
<script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
<script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery('input[name="dateRange"]').daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
            jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
        });
        jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
            jQuery(this).val('');
        });
    });



</script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="~/Content/plugins/toaster/toastr.min.js"></script>
<script src="~/Content/js/mono.js"></script>
<script src="~/Content/js/chart.js"></script>
<script src="~/Content/js/map.js"></script>





































































@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@