@{
    ViewBag.Title = "Facturacion Productos";
}


@{
    ViewBag.Title = "Facturacion Productos";
}


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Facturacion Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>


<body>


    <div class="wrapper">

        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">

                <div class="app-brand">
                    <a href="~/Home">

                        <span class="brand-name">MENU</span>
                    </a>
                </div>


                <div class="sidebar-left" data-simplebar style="height:100%;">
                    <!-- sidebar menu -->
                    <ul class="nav sidebar-inner" id="sidebar-menu">
                        <li>
                            <a class="sidenav-item-link" href="~/Productos">
                                <i class="bi bi-cart4"></i>
                                <span class="nav-text">Productos</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Clientes">
                                <i class="bi bi-person-lines-fill"></i>
                                <span class="nav-text">Clientes</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/MetodoPagoes">
                                <i class="bi bi-cash-coin"></i>
                                <span class="nav-text">Metodos De Pago</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Vendedores">
                                <i class="bi bi-people-fill"></i>
                                <span class="nav-text">Vendedores</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Facturas">
                                <i class="bi bi-receipt"></i>
                                <span class="nav-text">Reporte Facturas</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="~/Categorias">
                                <i class="bi bi-basket2-fill"></i>
                                <span class="nav-text">Categoria de Productos</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-footer">
                    @Html.Partial("_LoginPartial")
                    <div class="sidebar-footer-content">
                        <div class="navbar-right">

                        </div>
                    </div>
                </div>
            </div>

        </aside>

    </div>














    <!-- Footer -->
    <footer class="footer mt-auto" id="pio">
    </footer>

